
<%= form_for @suggestion do |f|%>
<table>
    <tr>
        <td>Suggestion: </td>
        <td><%= f.text_area :suggestion%></td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: center;"><%= f.submit :"Add"%></td>
    </tr>
</table>

<% end %>